/* Default settings: */

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-brown: #30261c;
  --light-brown: #403831;
  --blue-gray: #213547;
  --dark-blue: #1f5f61;
  --light-blue: #0b8185;
  --light-yellow: #E4510B;
  --white: white;
  --black: black;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* Page settings: */

.header-grid{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: var(--light-blue);
  border-bottom: 3px solid var(--dark-blue);
}

.header-grid img{
  width: 6rem;
  border-radius: 40%;
}

.header-grid nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-grid nav a{
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.21rem;

}

.header-grid nav a:hover{
  color: #193934;
}

.header_login{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.header_login a {
  text-align: center;
  font-size: 0.88rem;
  color: var(--white);
  background-color: var(--light-brown);
  border: 1px solid var(--dark-blue);
  padding: 10px 20px;
  width: 80%;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.header_login a:hover {
  background-color: var(--dark-brown);
  color: var(--white);
}

.header_login a:active {
  background-color: var(--black);
  color: var(--white);
}

.header_login .register{
background-color: var(--dark-blue);
}


